---
import Link, {
  LinkField,
} from "@astro-sitecore-jss/astro-content-sdk/src/components/Link.astro";

const { index, total, field } = Astro.props as {
  index: number;
  total: number;
  field: LinkField;
};

const classNames = [
  `item${index}`,
  index % 2 === 0 ? "odd" : "even",
  index === 0 ? "first" : "",
  index === total - 1 ? "last" : "",
]
  .filter(Boolean)
  .join(" ");
---

<li class={classNames}>
  <div class="field-link">
    <Link field={field} />
  </div>
</li>
