---
import Text from "@astro-sitecore-jss/astro-content-sdk/src/components/Text.astro";
import AstroImage from "@astro-sitecore-jss/astro-content-sdk/src/components/AstroImage.astro";
import { ProjectListItemProps } from "components/PageContent/ProjectList.astro";

const item = Astro.props.item as ProjectListItemProps;
---

<div class="project-grid-item">
  <a href={item.url} class="wrapper-link">
    <AstroImage field={item.fields.Thumbnail} />
    <div class="project-grid-item-content">
      <span class="project-category">
        <Text field={item.fields.Category} />
      </span>
      <h3 class="project-title fs-5 mb-0">
        <Text field={item.fields.Title} />
      </h3>
    </div>
  </a>
</div>
