---
import Text from "@astro-sitecore-jss/astro-content-sdk/src/components/Text.astro";
import { useSitecore } from "@astro-sitecore-jss/astro-content-sdk/src/context";
import { TestimonialItemProps } from "components/PageContent/Testimonials.astro";

const { page } = useSitecore();
const isPageEditing = page.mode.isEditing;

const item = Astro.props as TestimonialItemProps;

const rating = item.fields?.Rating.value;

const maxStars = 5;
const filledStars = Math.min(parseInt(rating), maxStars);
const emptyStars = maxStars - filledStars;
---
<>{
    !rating && <></>
  }
  {
    rating && <div class="star-rating">
    {
      [...Array(filledStars)].map(() => (
        <span class="star star-filled" />
      ))
    }
    {
      [...Array(emptyStars)].map(() => (
        <span class="star star-empty" />
      ))
    }
      <span>{isPageEditing && <Text field={item.fields?.Rating} />}</span>
    </div>
}</>