---
import { ImageField } from "@astro-sitecore-jss/astro-content-sdk/src/components/Image.astro";
import AstroImage from "@astro-sitecore-jss/astro-content-sdk/src/components/AstroImage.astro";
import DottedAccent from "components/NonSitecore/DottedAccent.astro";
import { ComponentProps } from "@/lib/component-props";

export interface ImageItemProps {
  fields: {
    Image: ImageField;
  };
  name: string;
  url: string;
}

export interface ImageGalleryProps extends ComponentProps {
  fields: {
    items: ImageItemProps[];
  };
}

const { params, fields } = Astro.props as ImageGalleryProps;
const { styles, RenderingIdentifier: id } = params;
const images = fields?.items;
---

<div class={`component image-gallery ${styles?.trimEnd()}`} id={id}>
  <div class="container">
    <DottedAccent class="dotted-accent-top" />
    <div class="image-gallery-grid">
      {
        images?.map((image) => (
          <div class="image-gallery-item">
            <AstroImage field={image.fields.Image} />
          </div>
        ))
      }
    </div>
    <DottedAccent class="dotted-accent-bottom" />
  </div>
</div>
