---
import Question from "components/NestedComponents/Question.astro";
import { QuestionsProps } from "components/PageContent/Questions.astro";

const { params, fields } = Astro.props as QuestionsProps;
const { styles, RenderingIdentifier: id } = params;
const questions = fields?.items;
---

<div class={`component questions single-column ${styles?.trimEnd()}`} id={id}>
  <div class="container">
    <div class="questions-wrapper">
      {questions?.map((item) => <Question {...item} />)}
    </div>
  </div>
</div>
