---
import Question from "components/NestedComponents/Question.astro";
import { QuestionsProps } from "components/PageContent/Questions.astro";

const { params, fields } = Astro.props as QuestionsProps;
const { styles, RenderingIdentifier: id } = params;
const questions = fields?.items;
---

<div class={`component questions ${styles?.trimEnd()}`} id={id}>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        {
          questions
            ?.filter((_, index) => index % 2 === 0)
            ?.map((item) => <Question {...item} />)
        }
      </div>
      <div class="col-sm-12 col-lg-6">
        {
          questions
            ?.filter((_, index) => index % 2 !== 0)
            ?.map((item) => <Question {...item} />)
        }
      </div>
    </div>
  </div>
</div>
