---
import { ComponentProps } from "lib/component-props";
import DefaultContainer from "components/NestedComponents/DefaultContainer.astro";

export interface ContainerProps extends ComponentProps {
  params: ComponentProps["params"] & {
    BackgroundImage?: string;
    DynamicPlaceholderId: string;
  };
}

const props = Astro.props as ContainerProps;
const isContainer = props.params.styles?.split(" ")?.includes("container");
---

<>{
    isContainer ? (
      <div class="container-wrapper">
        <DefaultContainer {...props} />
      </div>
    ) : (
      <DefaultContainer {...props} />
    )
  }
</>
