---
import { ComponentProps } from "@/lib/component-props";
import { useSitecore } from "@astro-sitecore-jss/astro-content-sdk/src/context";
import RichText, {
  RichTextField,
} from "@astro-sitecore-jss/astro-content-sdk/src/components/RichText.astro";

interface Fields {
  Content: RichTextField;
}

interface PageContentProps extends ComponentProps {
  fields: Fields;
}

const { params, fields } = Astro.props as PageContentProps;
const { page } = useSitecore();
const { styles, RenderingIdentifier: id } = params;

const field =
  fields?.Content ??
  (page.layout.sitecore.route?.fields?.Content as RichTextField);
---

<div class={`component content ${styles}`} id={id}>
  <div class="component-content">
    <div class="field-content">
      {field ? <RichText field={field} /> : "[Content]"}
    </div>
  </div>
</div>
