---
import { ComponentProps } from "@/lib/component-props";
import { Field } from "@astro-sitecore-jss/astro-content-sdk";
import ContentSdkRichText from "@astro-sitecore-jss/astro-content-sdk/src/components/RichText.astro";

interface Fields {
  Text: Field<string>;
}

export interface RichTextProps extends ComponentProps {
  fields: Fields;
}

const { params, fields } = Astro.props as RichTextProps;
const { RenderingIdentifier: id, styles } = params;
---

<div class={`component rich-text ${styles}`} id={id}>
  <div class="component-content">
    {
      fields ? (
        <ContentSdkRichText field={fields.Text} />
      ) : (
        <span class="is-empty-hint">Rich text</span>
      )
    }
  </div>
</div>
