---
import { ComponentProps } from "@/lib/component-props";
import { useSitecore } from "@astro-sitecore-jss/astro-content-sdk/src/context";
import Text, {
  TextField,
} from "@astro-sitecore-jss/astro-content-sdk/src/components/Text.astro";
import Link, {
  LinkField,
} from "@astro-sitecore-jss/astro-content-sdk/src/components/Link.astro";

interface Item {
  url: {
    path: string;
    siteName: string;
  };
  field: {
    jsonValue: {
      value: string;
    };
  };
}

interface TitleProps extends ComponentProps {
  fields: {
    /**
     * The Integrated graphQL query result. This illustrates the way to access the context item datasource information.
     */
    data?: {
      datasource?: Item;
      contextItem?: Item;
    };
  };
}

const { params, fields } = Astro.props as TitleProps;

const { page } = useSitecore();
const { styles, RenderingIdentifier: id } = params;
const datasource = fields?.data?.datasource || fields?.data?.contextItem;
const text: TextField = datasource?.field?.jsonValue || {};
const link: LinkField = {
  value: {
    href: datasource?.url?.path,
    title: datasource?.field?.jsonValue?.value,
  },
};
---

<div class={`component title ${styles}`} id={id ? id : undefined}>
  <div class="component-content">
    <div class="field-title">
      {
        page.mode.isEditing ? (
          <Text field={text} />
        ) : (
          <Link field={link}>
            <Text field={text} />
          </Link>
        )
      }
    </div>
  </div>
</div>
