---
import { ImageField } from "@astro-sitecore-jss/astro-content-sdk/src/components/Image.astro";
import AstroImage from "@astro-sitecore-jss/astro-content-sdk/src/components/AstroImage.astro";

const image: ImageField = Astro.props.image;
const inverted: boolean = Astro.props.inverted;
---

<div class={`icon-accent ${inverted ? "inverted" : ""}`}>
  <AstroImage field={image} />
</div>
